# Evitar UTF-16 en Windows (Render/Linux necesitan UTF-8)
requirements.txt text eol=lf encoding=utf-8
*.py text eol=lf encoding=utf-8
*.md text eol=lf encoding=utf-8
*.yaml text eol=lf encoding=utf-8
*.html text eol=lf encoding=utf-8
*.css text eol=lf encoding=utf-8
*.js text eol=lf encoding=utf-8
