<div id="ftToastHost" class="ft-toast-host" aria-live="polite"></div>

<div id="ftRestOverlay" class="ft-rest-overlay" hidden>
  <div class="ft-rest-modal" role="dialog" aria-labelledby="ftRestTitle">
    <p id="ftRestTitle" class="ft-rest-modal__title">Descanso</p>
    <p id="ftRestSub" class="ft-rest-modal__sub">Entre series</p>
    <div id="ftRestTime" class="ft-rest-modal__time">1:00</div>
    <button type="button" id="ftRestSkip" class="ft-rest-modal__skip">Omitir descanso</button>
  </div>
</div>
